.card {
    /* Card Best Seller */
position: relative;
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
box-sizing:border-box;
gap: 8px;
padding:0px;
width: 335px;
height: 104px;
margin:0px;

/* Neutral / 100 */
background: #0F0F29;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.card > a{
    text-decoration:none;
    
}
.cardPic {
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

width: 80px;
height: 80px;
}

.title {
/* Book Title */
box-sizing: content-box;
width: 215px;


/* 16 / Medium */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;

/* identical to box height */

/* Neutral / 5 */
color: #F5F5FA;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.author {
     
    width: 215px;
    height: 18px;
     
    
    /* 12 / Regular */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    
    /* identical to box height */
    
    /* Neutral / 10 */
    color: #EBEBF5;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.authorAndTitle {
/* Book Title */
display: flex;
position: relative;
flex-direction:column;
left: 96px;
width: 215px;
height: 100%;

/* 16 / Medium */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;

/* identical to box height */

/* Neutral / 5 */
color: #F5F5FA;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}