.buttons {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 78.66vw;
    top: 36.15vh;
    left: 10vw;
    gap:8px;
}
.buttons > p {
    /* 3 topics Selected */

position: absolute;
width: 287px;
height: 21px;
 
top: 18vh;

/* 14 / Regular */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;

/* identical to box height */

/* Neutral / 5 */
color: #F5F5FA;
}
.inputPersonalization {
    /* Label */
    /* Badge */

    /* Auto layout */
    
   cursor: pointer;
    padding: 4px 12px;
    

    
    height: 29px;

    /* Primary / 50 */
    background: #0F0F29;
    border-radius: 24px;
    /* 14 / Medium */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    border:1px solid white;
    /* identical to box height */

    /* Neutral/White */
    color: #FFFFFF;


    /* Inside auto layout */

    order: 0;
   
}

.selected {
       /* Label */
    /* Badge */

    /* Auto layout */
    
   cursor: pointer;
   padding: 4px 12px;
   

   
   height: 29px;

   /* Primary / 50 */
   background: #4838D1;
   border-radius: 24px;
   /* 14 / Medium */
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 21px;
   border:1px solid white;
   /* identical to box height */

   /* Neutral/White */
   color: #FFFFFF;


   /* Inside auto layout */

   order: 0;
  
}